<h1>Shopping</h1>
<div class="shopContainer">
    @if(products$ | async; as products) {
    @for(product of products; track product.id; let index = $index, odd = $odd) {
    <mat-card class="productCard" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img mat-card-image src="https://picsum.photos/id/48/48/48" alt="Product">
            </div>
            <mat-card-title>{{product.title}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}€</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{product.description}}</p>
        </mat-card-content>
        <div class="productImageContainer"><img class="productImage" mat-card-image src="{{product.image}}"
                alt="Product">
        </div>

    </mat-card>
    }
    }
</div>